.heading{
    background-color: rgb(82, 158, 112);
}
.day{
    background-color: rgb(148, 221, 114);
}
.monday{
    background-color: rgb(252, 252, 18);
    backgr
}
.tuesday{
    background-color:yellow
}
.Wednesday{
    background-color: yellow;
}
.Thursday{
    background-color: yellow;
}
.Friday{
    background-color: yellow;
}
